.assign_btn_layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;

  font-family: Lato;
  font-size: 14px;
  line-height: 17px;

  height: 17px;
  text-align: center;

  background: #ffffff;
  box-shadow: 3px 6px 14px rgba(0, 87, 184, 0.1);

  border-radius: 20px;
  padding: 6px 9px;
}
.assign_btn_layout > button {
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
.assign_btn_layout > button:nth-child(1) {
  background: transparent;
  border: none;
  height: 17px;
}
.btn_assign {
  white-space: nowrap;
}

.btn_assign > .delete_role {
  margin: 0 6px;
  padding: 0;
  width: 8px;
  height: 20px;

  filter: invert(50%);
  background: url(/public/img/wishgranting_modal_close.svg) no-repeat;
  background-size: 8px;
  background-position: center;
}
.btn_assign:disabled {
  cursor: default !important;
}

.btn_assignrole {
  background: #0057b8;
}
.btn_assignrole > button {
  color: white;
}

.no_hover:hover {
  cursor: default;
}
.hover:not(:disabled):hover {
  cursor: pointer;
}
.btn_access {
  color: white;
  min-width: 115px;
  background: #0057b8;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 16px;
}

.assign_btn_container {
  display: flex;
  width: 212px;
  flex-direction: row;
}

.delete_role {
  background: transparent;
  border: 0px;
  position: relative;
  color: gray;
  /* right: 22px; */
  width: 0px;
}
.delete_role:disabled {
  cursor: default !important;
}
.delete_role:hover {
  cursor: pointer;
}
