.assign_btn_layout {
  display: flex;
}

.btn_assign {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 105px;
  margin-left: 5px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  max-height: 31px;
  text-align: center;

  color: #ffffff;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: black;
  background: #ffffff;
  box-shadow: 3px 6px 14px rgba(0, 87, 184, 0.1);

  border-radius: 20px;
  padding: 7px 16px;
}

.btn_role {
  color: white;
  background: #0057b8;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.btn_assign:hover {
  cursor: pointer;
}

.no_hover:hover {
  cursor: default;
}

.btn_access {
  color: white;
  min-width: 115px;
  background: #0057b8;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 16px;
}

.btn_aGreeter {
  min-width: 140px;
  border: 1px solid #ffb549;
}

.btn_wGranter {
  min-width: 125px;
  border: 1px solid #00bab3;
}

.btn_mentor {
  min-width: 90px;
  border: 1px solid #8dc8e8;
}

.btn_pAdmin {
  min-width: 135px;
  border: 1px solid #1a68bf;
}

.btn_volunteer {
  min-width: 105px;
  border: 1px solid #ff585d;
}

.btn_office {
  min-width: 80px;
  border: 1px solid #9ec37b;
}

.btn_speciale {
  min-width: 130px;
  border: 1px solid #e09eff;
}

.btn_translator {
  min-width: 105px;
  border: 1px solid #0057b8;
}

.btn_speaker {
  min-width: 145px;
  border: 1px solid #e993b2;
}

.btn_las {
  min-width: 120px;
  border: 1px solid #fbd872;
}

.btn_sAdmin {
  min-width: 145px;
  border: 1px solid #3cba00;
}

.assign_btn_container {
  display: flex;
  max-width: 212px;
  flex-direction: row;
}

.delete_role {
  background: transparent;
  border: 0px;
  position: relative;
  color: gray;
  right: 22px;
  width: 0px;
}

.delete_role:hover {
  cursor: pointer;
}
