.btn_assign {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 100px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  max-height: 31px;
  text-align: center;

  color: #ffffff;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  margin: 0px 10px;
  background: #0057b8;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 1px 5px 8px rgba(0, 87, 184, 0.1);
  border-radius: 20px;
  padding: 7px 16px;
}

.btn_aGreeter {
  padding: 7px 16px;
  max-height: 31px;
  min-width: 130px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border: 1px solid #ffb549;
  box-sizing: border-box;
  box-shadow: 3px 6px 14px rgba(0, 87, 184, 0.1);
  border-radius: 20px;
}

.btn_wGranter {
  padding: 7px 16px;
  max-height: 31px;
  min-width: 120px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border: 1px solid #00bab3;
  box-sizing: border-box;
  box-shadow: 3px 6px 14px rgba(0, 87, 184, 0.1);
  border-radius: 20px;
}

.btn_meeter {
  padding: 7px 16px;
  max-height: 31px;
  min-width: 120px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border: 1px solid #8dc8e8;
  box-sizing: border-box;
  box-shadow: 3px 6px 14px rgba(0, 87, 184, 0.1);
  border-radius: 20px;
}

.assign_btn_container {
  display: flex;
  max-width: 212px;
  flex-direction: row;
  overflow-x: scroll;
}
