.contactpoints_page_layout {
  padding: 30px 55px;
}

.contactpoints_title {
  font-size: 30px;
  margin: 0;
}

.contactpoints_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
