.notfound_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 150px);
}

.notfound_flex_center .logo {
  margin-bottom: 20px;
}

.notfound_flex_center button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  font-family: "Lato", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;

  padding: 10px 20px;
  right: 0;

  background: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  color: white;
  font-size: 14px;
  line-height: 16px;
}
