.edit_contacts_modal {
  display: flex;
  justify-content: center;
  width: 400px;
  height: fit-content;

  padding: 10px 0px 10px 0px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
}

.contacts_close_button {
  position: relative;
  border: none;
  background: url(../../public/img/close-modal.svg) no-repeat;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.add_contacts_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.contact_card_description {
  margin: 15px 0px 10px 0px;
}

.edit_contacts_header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0px 10px 10px 0px;
}

.edit_contacts_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.contact_card_info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.name_info_label,
.phone_info_label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0px 5px 0px;
}

button.maw-ui_button.edit_contact_modal {
  background: var(--primary-blue);
  color: white;
  border: none;
  margin-top: 20px;
  width: 40%;
  position: relative;
  left: 60%;
}
