.home-container {
  margin: 0px auto;
  width: 73%;
  padding: 40px 10px;

  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
}

#wish-wednesday-title {
  font-size: 24px;
  line-height: 29px;
}

.top-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.top-header > h1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(16, 16, 16, 0.65);
  height: 100%;
  width: 100%;
}
.top-header > img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.top-title {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body-image {
  width: 100%;
  max-height: 224px;
  min-height: 100px;
  object-fit: cover;
}

.edit-button {
  background-color: rgba(0, 0, 0, 0);
  height: 29px;
  width: 29px;
  cursor: pointer;
  border: 0;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
}
