.login {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-grey);
  background-image: url("../../public/img/login_background.svg");
  background-size: 100vw;
  background-position: center bottom;
  background-repeat: no-repeat;

  --box-padding-small: 5vw;
  --box-width-small: calc(100vw - 5vw - (var(--box-padding-small) * 2));
}

.login_logo {
  width: 369px;
  max-width: 90vw;
  left: 6vw;
  top: 38vh;
}

.login_box {
  width: 300px;
  height: 258px;
  right: 8vw;
  top: 25vh;

  padding: 50px;
  padding-bottom: 25px;

  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.login input:not([type="checkbox"]) {
  width: calc(300px - 2px - 5px);
  height: 28px;
  padding: 0;
  padding-left: 5px;

  border: 1px solid #000000;

  font-family: "Lato" !important;

  margin-bottom: 16px;
}
.login input.error:not([type="checkbox"]),
.login_password.error input {
  border: 1px solid #ff0000;
}

.login button {
  width: 300px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  background: rgba(0, 87, 184, 0.9);
  color: #ffffff;
  border: 0;

  font-family: "Lato" !important;

  opacity: 1;
  transition: opacity 0.1s;
}
.login button.waiting {
  opacity: 0.5;
}

.login button:disabled {
  color: #ffffff;
  background: #bbbcbc;
}

.login button:hover {
  cursor: pointer;
}

.login button.login_switch {
  width: 298px;
  margin-top: auto;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.login button.login_unstyled {
  width: 0;
  height: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  float: left;
}

.login_password {
  height: calc(60px - 14px);
}

.login_password_eye {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 8px;
  left: calc(300px - 22px);
  cursor: pointer;
}

.login_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.login_flex.nomargin {
  margin: 0;
}

.login_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_flex_center input[type="checkbox"] {
  margin-left: 0;
}

.login_flex a {
  color: #000000;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.login_pointer {
  cursor: pointer;
}

.login_errorbox {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: var(--secondary-red);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  color: white;
  margin-top: auto;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}
.ReactModal__Content.login_react_modal {
  background: var(--background-grey);
  position: absolute;
  width: 462px;
  height: 202px;
  border-radius: 10px;
  box-sizing: border-box;
  left: calc(50vw - (462px / 2)) !important;
  top: calc(50vh - (202px / 2)) !important;
  padding-top: 21px !important;
  padding-bottom: 21px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.login_modal {
  height: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.login_modal_content {
  margin-top: 16px;
  margin-bottom: 24px;
}
.login_modal h3 {
  font-size: 14pt;
  margin: 0;
}

.login_button_unstyled {
  background: transparent;
  border: none;
  cursor: pointer;
}
.login_button_round {
  width: 103px;
  height: 26px;
  background: var(--primary-blue);
  border: 3px solid var(--primary-blue);
  border-radius: 3px;
  color: white;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.disclaimer_tooltip {
  position: absolute;
  top: -58px;
  width: 100%;
  height: 105px;
  background: #222222;
  color: white;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 10px;
  box-sizing: border-box;

  transition: opacity 0.2s;
}

/**
 * MEDIA QUERIES
 */
@media only screen and (max-width: 900px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .login_logo {
    position: unset;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .login_box {
    position: unset;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 420px) {
  .login_logo {
    width: 90vw;
  }
  .login_box {
    width: var(--box-width-small);
    padding-left: var(--box-padding-small);
    padding-right: var(--box-padding-small);
  }
  .login input:not([type="checkbox"]) {
    width: calc(var(--box-width-small) - 50px - 2px - 5px);
  }
  .login button,
  .login button.login_switch {
    width: calc(var(--box-width-small) - 50px);
  }
  .login_password_eye {
    left: calc(var(--box-width-small) - 50px - 2px - 5px - 16px);
  }
}

@media only screen and (max-width: 300px) {
  .login_flex {
    flex-direction: column;
  }
}
