.title {
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-left: 2vw;
}

.msg_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding: 20px 50px 0px 50px;
  overflow: auto;
}

.input_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 25px solid white;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-top: 20px;
}

.recipient_section {
  display: flex;
  align-items: center;
}

.subject_section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.prompt_title {
  width: 75px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.subject_line,
.select_recipients {
  box-sizing: border-box;
  width: calc(100% - 75px);

  border: 1px solid #000000;
  border-radius: 7px;
}

.subject_line {
  padding-left: 10px;
  height: 35px;
}

.message_meta {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* Controls ReactQuill editor height */
.ql-container {
  height: 40vh;
  margin-bottom: 5vh;
}

/* Controls ReactQuill toolbar */
.ql-toolbar {
  height: 45px;
  overflow: auto;
  white-space: nowrap;
}

.button_container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: flex-end;
  height: 36px;
}

.post_announcement_message {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  background: #1a68bf;

  margin-bottom: 5px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;

  cursor: pointer;
}

.emptyfields {
  font-size: 9px;
  margin: 0;
}

/* Modal styles inherited from LoginPage */

@media only screen and (max-width: 1024px) and (max-height: 1024px) {
  .ql-container {
    height: 30vh;
  }
  .msg_layout {
    height: 80vh;
  }
}
