.maw-ui_modal .label {
  margin-bottom: 12px;
  font-weight: bold;
}

.maw-ui_modal input[type="file"]::file-selector-button {
  width: 103px;
  height: 26px;
  background: white;
  color: black;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}
.maw-ui_modal input[type="file"]::after {
  display: none;
}

/*
 * PROGRESS BAR
 */
@keyframes indeterminate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress {
  --hue: 220;
  --holesize: 65%;
  --track-bg: hsl(233, 34%, 92%);

  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;

  background: conic-gradient(
    hsl(var(--hue) 100% 70%),
    hsl(var(--hue) 100% 40%),
    hsl(var(--hue) 100% 70%) var(--progress, 0%),
    var(--track-bg) var(--progress, 0%) 100%
  );
}

.progress_inner {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.progress.indeterminate {
  animation: indeterminate 1s infinite ease-in-out;
}
.progress.indeterminate .progress_inner {
  animation: indeterminate 1s reverse infinite ease-in-out;
}
