.container {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    overflow: scroll;
    background-color: var(--primary-blue);
    padding: 16px 28px 19px 26px;
}

.navlist {
    margin: 0;
    overflow: scroll;
    padding: 0;
    list-style-type: none;
}

.logo-container {
    float: left;
}

.maw-logo {
    width: 104px;
    height: 28px;
    margin: 6px 39px 0px 0px;
}

.page-name {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 13px 32px 0px 0px;
    white-space: nowrap;
}

.page-links {
    color: var(--white);
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.search-and-profile {
    float: right;
    display: flex;
    flex-direction: row;
}

.searchbar {
    vertical-align: middle;
}

.search-input {
    height: 17px;
    padding-bottom: 5px;
    padding-top: 4px;
    padding-left: 4.95px;
    font-size: 14px;
    /* border-radius: 3px 0px 0px 3px; */
    vertical-align: middle;

}

.search-button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    width: 36.85px;
    height: 30px;
    background-color: red;
    border-radius: 0px 3px 3px 0px;
}

.profile-container {
    width: 59px;
    margin-left: 15vw;
}

.profile-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.account-icon {
    width: 37px;
    height: 37px;
    margin-right: 7px;
}

.arrow-dropdown {
    width: 15px;
    height: 9px;
}

.profile-dropdown {
    position: absolute;
    width: 153px;
    height: 126px;
    right: 0px;
    z-index: 1;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 36px 0px 0px 30px;
}

.view-profile {
    margin-bottom: 48px;
}

.view-profile-link, .signout-link {
    display: flex;
    color: var(--black);
    text-decoration: none;
}

.signout-icon {
    margin-left: 20px;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    .profile-container {
        margin-left: 10px;
    }
    .search-container {
        margin-right: 2vw;
    }
}

@media only screen and (max-width: 700px) {
   
    .search-and-profile {
        display: flex;
        flex-direction: column;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .search-container {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .profile-dropdown {
        left: 0px;
    }
}
