.container {
    font-family: Lato;
    font-weight: 400;
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: row;
    background-color: var(--primary-blue);
    padding: 16px 28px 0px 26px;
}

.maw-logo {
    width: 104px;
    height: 28px;
    margin: 6px 39px 20px 0px;
}

.page-name {
    display: flex;
    flex-direction: column;
    margin: 13px 32px 19px 0px;
    white-space: nowrap;
}

.page-links {
    color: var(--white);
    text-decoration: none;
}

.page-links:hover + .underline-hidden {
    display: block;
    width: auto;
    height: 2px;
    border-radius: 1px;
    background-color: var(--white);
    margin-top: 4px;
}

.underline-shown {
    width: auto;
    height: 2px;
    border-radius: 1px;
    background-color: var(--white);
    margin-top: 4px;
}

.underline-hidden {
    display: none;
}

.search-container {
    margin-right: 10vw;
}

.searchbar {
    width: 36.85px;
    height: 30px;
}

.search-button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.profile-container {
    width: 59px;
    justify-content: flex-end;
}

.profile-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.account-icon {
    width: 37px;
    height: 37px;
    margin-right: 7px;
}

.arrow-dropdown {
    width: 15px;
    height: 9px;
}

.profile-dropdown {
    position: absolute;
    width: 153px;
    height: 126px;
    z-index: 1;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 36px 0px 0px 30px;
}

.view-profile {
    margin-bottom: 48px;
}

.view-profile-link, .signout-link {
    color: var(--black);
    text-decoration: none;
}