.nav-menu {
  display: none;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger {
  width: 37px;
  height: 37px;
}

@media only screen and (max-width: 795px) {
  .nav-menu {
    display: block;
    width: 26px;
    margin-left: 38px;
    margin-right: 11px;
  }
}
