.nav-menu-mobile {
  display: none;
}

.searchbar-icon-mobile {
  width: 32px;
  height: 32px;
}

.dropdown-button-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-button-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-mobile {
  width: 37px;
  height: 37px;
}

.dropdown-container-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 105;
  background: linear-gradient(91.79deg, #5286c0 0.19%, #0057b8 100%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.logo-and-exit-mobile {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-left: 33px;
  padding-right: 32px;
}

.maw-logo-mobile {
  width: 104px;
  height: 28px;
}

.exit-dropdown-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-menu-btn-mobile {
  width: 26px;
  height: 26px;
}

.separator-mobile {
  width: 90%;
  height: 0px;
  left: 32px;
  top: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 35px;
}

.pages-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-links-mobile {
  color: var(--white);
  text-decoration: none;
  margin: 13px 32px 0px 0px;
}

.view-profile-link-mobile,
.signout-link-mobile {
  display: flex;
  color: var(--white);
  text-decoration: none;
}

.signout-icon-mobile {
  margin-left: 20px;
  align-items: center;
}

/* media queries for mobile menu */

@media only screen and (max-width: 795px) {
  .nav-menu-mobile {
    display: flex;
  }

  .search-mobile {
    display: none;
  }

  .dropdown-icon-mobile {
    margin-left: 38px;
    margin-right: 11px;
  }
}

@media only screen and (max-width: 475px) {
  .search-mobile {
    display: block;
    align-self: center;
  }
}
