.profile-page {
  margin: 3% 6%;
  display: block;
  color: black;
  font-family: Lato;
}
.profile-page > * > div:not(.profile-buttons-container) {
  transition: opacity 0.2s, filter 0.2s;
}
.profile-page.deactivated > * > div:not(.profile-buttons-container) {
  opacity: 0.6;
  filter: grayscale(1);
}
.header-section {
  display: inline-block;
  width: 100%;
}
.profile-image {
  float: left;
  width: 138px;
  height: 138px;
  position: relative;
  margin-right: 42px;
}
.profile-image > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-image > button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  height: 34px;
  width: 34px;

  border-radius: 50%;
  box-shadow: 0 6px 14px rgba(26, 104, 191, 0.1);
  background: #ffffff;
  border: 1px solid var(--primary-blue);
  font-size: 28px;
  color: var(--primary-blue);
  margin: 0;
  padding: 0;
}
.profile-image > button:hover {
  background: var(--background-grey);
  cursor: pointer;
}
.profile-image > button label:hover {
  cursor: pointer;
}
.profile-image > button label svg {
  width: 14px;
  height: 20px;
  fill: var(--primary-blue);
}

.profile-header-info {
  display: flex;
  align-items: flex-end;
  margin: 30px 0 20px 0;
}
.profile-header-info h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 50px 5px 0;
}
.profile-header-info h2 {
  font-size: 14px;
  line-height: 41px;
  color: var(--grey);
  font-weight: normal;
  margin: 0;
}
.profile-header-info p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.profile-header-info p.deactivated {
  color: var(--grey);
  text-align: right;
}

.profile-buttons-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 350px) {
  .profile-buttons-container {
    justify-content: flex-start;
  }
}
.profile-buttons-container > button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  font-family: Lato;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;

  padding: 3px 10px;
  right: 0;
}
.change-password-button {
  border: 1px solid black;
  background-color: white;
  color: black;
  margin-right: 28px;
  font-size: 14px;
  line-height: 16px;
}
.delete-account-button {
  background: var(--secondary-red);
  border: 1px solid var(--secondary-red);
  color: white;
  font-size: 14px;
  line-height: 16px;
}

/* Modal styles */

/* Style reset to make modal container 
 * flex (lets me center actual modal) 
 */
.profile-page-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1001;
  height: 100vh;
}
.profile-page-modal {
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 5px;
  outline: 0;
}

.profile-page-modal > h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;

  color: black;
}
.close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background: none;
  background: url(../../public/img/close-modal.svg) no-repeat;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.modal-button {
  cursor: pointer;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  height: 26px;
  width: 100%;
  color: black;
  transition: opacity 0.1s;
}
.modal-button.small {
  width: 105px !important;
  margin: 5px;
}
.modal-button.waiting {
  opacity: 0.5;
}
.button-primary {
  color: white;
  background-color: rgba(0, 87, 184, 0.9);
  border: 1px solid rgba(0, 87, 184, 0.9);
  margin-bottom: 20px;
}
.button-secondary {
  border: 1px solid black;
  background: white;
  line-height: 14px;
}
.button-danger {
  color: white;
  background: var(--secondary-red);
  border: 1px solid var(--secondary-red);
  line-height: 14px;
}
.change-pass-form {
  max-width: 300px;
  margin: 50px 30px 30px;
}
@media only screen and (max-width: 450px) {
  .change-pass-form {
    margin: 30px 10px 0px;
  }
}
.change-pass-form > input {
  background: white;
  border: 1px solid black;
  margin-bottom: 14px;
  padding-left: 5px;
  line-height: 14px;
  width: 100%;
  height: 28px;
  color: var(--blackish);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.change-pass-form > .button-primary {
  margin-top: 14px;
  box-sizing: border-box;
  height: 28px;
  line-height: 14px;
}
.delete-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.change-pass-errorbox {
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  padding: 10px;
  background: var(--secondary-red);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  color: white;
}

.modal-title-crop {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.modal-subtitle-crop {
  margin-bottom: 15px !important;
  font-size: 12px;
  font-style: italic;
}
.modal-flex-crop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-nomargin {
  margin: 0 !important;
}

.user_stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .user_stats {
    flex-direction: column;
    align-items: center;
  }
}
