.add_roles {
  height: 23px;
  width: 23px;

  border-radius: 50%;
  box-shadow: 0 6px 14px rgba(26, 104, 191, 0.1);
  background: #ffffff;
  border: 1px solid var(--primary-blue);
  font-size: 20px;
  color: var(--primary-blue);
  margin-left: 25px;
  padding: 0;
}

.add_roles > svg {
  width: 11px;
  height: 15px;
  fill: var(--primary-blue);
}

.add_roles:hover {
  cursor: pointer;
  background: var(--background-grey);
}
.add_roles:disabled {
  cursor: default;
}

.roles_container {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-sizing: border-box;
  width: 45%;
  padding-left: 35px;
  padding-bottom: 20px;
}

.roles_header {
  display: flex;
  align-items: center;
}

.roles_scroller {
  display: flex;
  height: 34px;
}

@media only screen and (max-width: 900px) {
  .roles_container {
    width: 80%;
  }
}

.delete_confirmation_modal {
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.close_button_delete {
  position: relative;

  left: 90%;
  top: 0px;
  border: none;
  background: none;
  background: url(../../public/img/close-modal.svg) no-repeat;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
