.reset_page {
  width: 100vw;
  height: 100vh;
  background: url(../../public/img/login_background.svg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset_page .box {
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.reset_page .fullheight {
  height: 100%;
}

.reset_page .icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid black;
  padding: 15px;
  background: url(../../public/img/reset_user.svg) no-repeat;
  background-position: center;
  background-size: 25px;
}

.reset_page button.unstyled {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 30px;
  right: 50px;
}
.reset_page button.padded {
  padding: 0 15px;
}

.reset_page .fill {
  flex: 1;
}

.reset_page .errorbox {
  width: 100%;
  height: 26px;
  background: var(--secondary-red);
  color: white;
  text-align: center;
  font-size: 10pt;
}
