/* Search input/button & modal styles */

.search-container {
    display: flex;
    align-items: center;
    font-family: Lato;
    font-weight: 400;
}

.search-input {
    height: 21px;
    padding-bottom: 5px;
    padding-top: 4px;
    padding-left: 4.95px;
    font-size: 14px;
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    z-index: 1;
}

.search-button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    width: 36.85px;
    height: 30px;
    background-color: rgb(178 204 234);
    border-radius: 0px 3px 3px 0px;
}

.searchbar-icon {
    width: 10.45px;
    height: 15px;
}

.search-results {
    position: relative;
    max-width: 802px;
    max-height: 630px;
    background-color: var(--grey-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: scroll;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 73px;
}

/* Search results overlay styles */

.search-results-overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.results-container {
    display: flex;
    flex-direction: column;
}

.close-button {
    background-color: transparent;
    border: transparent;
    margin-top: 16px;
    cursor: pointer;
    padding: 0;
    align-self: flex-end;
    margin-right: 17px;
}

.close-icon {
    width: 14.96px;
    height: 14.96px;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 742px;
    margin-top: 210px;
}

.sad-face {
    width: 61px;
    height: 61px;
    margin-bottom: 28px;
}


/* FileResult styles */

.files-title {
    margin-bottom: 48px;
    font-size: 18px;
    margin-left: 4px;
}

.file-result {
    width: 705px;
    border-radius: 8px;
    height: 41px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.file-content {
    padding-left: 16px;
    padding-right: 20px;
}

.file-name {
    font-size: 14px;
    margin: 0px; 
    flex: 1 ;
}

.file-res-button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    padding: 0;
}

.export, .export-icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.edit, .edit-icon {
    width: 12.5px;
    height: 12.5px;
    margin-right: 17px;
}

.delete, .delete-icon {
    width: 13px;
    height: 15px;
}