.side_nav_layout {
  display: flex;
  flex-direction: row;
}

.side_nav_buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: white;
  height: 100%;
}

.side_nav_links {
  left: 17.39%;
  right: 16.96%;
  top: 36%;
  bottom: 34.67%;

  width: 190px;
  height: 59px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #0057b8;

  background-color: white;
  border-width: 0px;
  border-radius: 8px;

  margin: 40px 20px 40px 20px;
}

.side_nav_links:hover {
  background-color: rgba(0, 87, 184, 0.1);
  cursor: pointer;
}
