.access_notification_overlay {
  z-index: 999;
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.access_notification {
  position: relative;
  width: 95vw;
  max-width: 400px;
  height: 95vh;
  max-height: 200px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
}

.notification_contents {
  width: 400px;
  max-width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assign_btn_container {
  display: flex;
  flex-direction: row;
  max-height: 34px;
  overflow: auto;
}
