.role_btn {
  min-width: 105px;
  max-height: 31px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 1px 5px 8px rgba(0, 87, 184, 0.1);
  border-radius: 20px;
  padding: 7px 16px;
  cursor: pointer;
  color: black;
  background: #ffffff;
}

.role_btn.access {
  color: white;
  background: var(--primary-blue);
  border: 1px solid white;
}
