/*
 * DEFAULT
 */
.maw-ui_input {
  width: 100%;
  box-sizing: border-box;
  height: 28px;
  padding: 7px;
  /* border: 1px solid #0057b8; */
  border: 1px solid black;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

/*
 * UNDERLINE VARIANT
 */
.maw-ui_input.underline {
  border: none;
  border-bottom: 1.5px solid #bbbcbc;
  outline: 0;
  margin-bottom: 20px;
  background: #ffffff;
}
.maw-ui_input.underline:focus {
  border-bottom: 1.5px solid var(--primary-blue);
}
