.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-grey);
  background-image: url("../../public/img/login_background.svg");
  background-size: 100vw;
  background-position: center bottom;
  background-repeat: no-repeat;

  --box-padding-small: 5vw;
  --box-width-small: calc(100vw - 5vw - (var(--box-padding-small) * 2));
}

.login_logo {
  width: 369px;
  height: 102.84px;
  left: 6vw;
  top: 38vh;
}

.login_box {
  width: 300px;
  height: 258px;
  right: 8vw;
  top: 25vh;

  padding: 50px;
  padding-bottom: 25px;

  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.login input:not([type="checkbox"]) {
  width: calc(300px - 2px - 5px);
  height: 28px;
  padding: 0;
  padding-left: 5px;

  border: 1px solid #000000;

  font-family: "Lato" !important;

  margin-bottom: 16px;
}

.login button {
  width: 300px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  background: rgba(0, 87, 184, 0.9);
  color: #ffffff;
  border: 0;

  font-family: "Lato" !important;
}

.login button:disabled {
  color: #ffffff;
  background: #bbbcbc;
}

.login button:hover {
  cursor: pointer;
}

.login button.login_switch {
  width: 298px;
  margin-top: auto;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.login_password {
  height: calc(60px - 14px);
}

.login_password_eye {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -38px;
  left: calc(300px - 22px);
  cursor: pointer;
}

.login_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.login_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_flex_center input[type="checkbox"] {
  margin-left: 0;
}

.login_flex a {
  color: #000000;
}

/**
 * MEDIA QUERIES
 */
@media only screen and (max-width: 900px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .login_logo {
    position: unset;
    margin-bottom: 50px;
  }
  .login_box {
    position: unset;
  }
}

@media only screen and (max-width: 420px) {
  .login_logo {
    width: 90vw;
  }
  .login_box {
    width: var(--box-width-small);
    padding-left: var(--box-padding-small);
    padding-right: var(--box-padding-small);
  }
  .login input:not([type="checkbox"]) {
    width: calc(var(--box-width-small) - 50px - 2px - 5px);
  }
  .login button,
  .login button.login_switch {
    width: calc(var(--box-width-small) - 50px);
  }
  .login_password_eye {
    left: calc(var(--box-width-small) - 50px - 2px - 5px - 16px);
  }
}

@media only screen and (max-width: 300px) {
  .login_flex {
    flex-direction: column;
  }
}
