.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-grey);
  background-image: url("../../public/img/login_background.svg");
  background-size: 100vw;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.login_logo {
  width: 369px;
  height: 102.84px;
  left: 6vw;
  top: 38vh;
}

.login_box {
  width: 300px;
  height: 258px;
  right: 8vw;
  top: 25vh;

  padding: 50px;
  padding-bottom: 25px;

  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .login_logo {
    position: unset;
    margin-bottom: 50px;
  }
  .login_box {
    position: unset;
  }
}

.login input:not([type="checkbox"]) {
  width: calc(300px - 2px - 5px);
  height: 28px;
  padding: 0;
  padding-left: 5px;

  border: 1px solid #000000;

  font-family: "Lato" !important;

  margin-bottom: 16px;
}

.login button {
  width: 300px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  background: rgba(0, 87, 184, 0.9);
  color: #ffffff;
  border: 0;

  font-family: "Lato" !important;
}

.login button:disabled {
  color: #ffffff;
  background: #bbbcbc;
}

.login button:hover {
  cursor: pointer;
}

.login_switch {
  width: 298px;
  margin-top: auto;
  /*
  bottom: 25px;
  left: 50px;
  */
  /* TODO: Bad! */
  background: #ffffff !important;
  border: 1px solid #000000 !important;
  color: #000000 !important;
}

.login_password {
  height: calc(60px - 14px);
}

.login_password_eye {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -38px;
  left: calc(300px - 22px);
  cursor: pointer;
}

.login_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.login_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_flex_center input[type="checkbox"] {
  margin-left: 0;
}

.login_flex a {
  color: #000000;
}
