@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*
 * GLOBAL THEMING
 */
:root {
  --primary-blue: #1a68bf;

  --secondary-red: #ff585d;
  --secondary-orange: #ffb549;
  --secondary-blue: #8dc8e8;

  --grey: #75787b;
  --light-grey: #bbbcbc;
  --background-grey: #f7f7f7;

  --blackish: #101010;
  --black: #000000;

  --white: #ffffff;
  --grey-white: #f7f7f7;

  --blue-gradient: linear-gradient(90deg, #487db9 -1.35%, #3975b8 52.84%, #0459b8 102.69%);
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
a,
button,
input {
  font-family: "Lato", sans-serif !important;
}

/*
 * GLOBAL UTILITY CLASSES
 */
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*
 * SITEWIDE STYLES
 */
button.maw-ui_button {
  border-radius: 3px;
  min-width: 103px;
  height: 26px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  color: black;
  font-weight: normal;
  transition: opacity 0.1s;
}
button.maw-ui_button:disabled {
  opacity: 0.5;
}
button.maw-ui_button.primary {
  background: var(--primary-blue);
  color: white;
  border: none;
}
button.maw-ui_button.error {
  background: #ff797d;
  color: white;
  border: none;
}
button.maw-ui_button.fullwidth {
  width: 100%;
}

input.maw-ui_input {
  width: 100%;
  box-sizing: border-box;
  height: 28px;
  padding: 7px;
  /* border: 1px solid #0057b8; */
  border: 1px solid black;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
input.maw-ui_input.underline {
  border: none;
  border-bottom: 1.5px solid #bbbcbc;
  outline: 0;
  margin-bottom: 20px;
  background: #ffffff;
}
input.maw-ui_input.underline:focus {
  border-bottom: 1.5px solid var(--primary-blue);
}

/*
 * GLOBAL MODAL STYLING
 */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.ReactModal__Overlay {
  animation: fadein 0.25s;
}
.ReactModal__Content {
  animation: popin 0.25s;
}

.ReactModal__Overlay.closing {
  animation: fadein 0.25s reverse !important;
}
.ReactModal__Content.closing {
  animation: popin 0.25s reverse !important;
}

.maw-ui_modal-overlay {
  z-index: 1000;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.maw-ui_modal {
  width: 95vw;
  max-width: 466px;
  height: 95vh;
  max-height: 278px;
  padding: 21px 25px;
  border: none;
  outline: 0;
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.maw-ui_modal.thin {
  max-height: 202px;
}
.maw-ui_modal.noshape {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
}
.maw-ui_modal-container.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.maw-ui_modal-container.column {
  display: flex;
  flex-direction: column;
}
